# Dataset Setup for First ICU Prediction

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import psycopg2
import math
import numpy as np
import pandas as pd
from pathlib import Path
from pdb import set_trace

from sklearn.model_selection import train_test_split

Grab the data fields from the MIMIC postgres database. This query assumes that view/table/materialized view called **notes** is already setup. We are discarding the notes with *class_label* = -1 as these fall in the time period which are not used. We also discard notes whose lengths are either below 100 characters or more than 8500 characters.

In [3]:
con = psycopg2.connect(dbname='mimic', user='sudarshan', host='/var/run/postgresql')

query = """
select hadm_id, subject_id, icustay_id, admission_age, wait_period, chartinterval, category, description, text, class_label from notes where class_label != -1 and length(text) between 100 and 8500
"""
df = pd.read_sql_query(query, con)
con.close()
df.head()

,hadm_id,subject_id,icustay_id,admission_age,wait_period,chartinterval,category,description,text,class_label
0,100012,60039,239289,67.71,1.96,1,Radiology,CHEST (PRE-OP PA & LAT),[**2177-3-12**] 4:40 PM\n CHEST (PRE-OP PA & L...,1
1,100036,30078,296976,82.87,3.80,1,Radiology,CHEST (PA & LAT),[**2187-7-16**] 8:34 AM\n CHEST (PA & LAT) ...,1
2,100037,58947,221136,58.40,27.79,15,Nursing,Nursing Transfer Note,58 y/o M presented to [**Hospital1 **] [**Loca...,0
3,100037,58947,221136,58.40,27.79,15,Nursing,Nursing Progress Note,58 y/o M presented to [**Hospital1 **] [**Loca...,0
4,100037,58947,221136,58.40,27.79,15,Nursing,Nursing Progress Note,58 y/o M presented to [**Hospital1 **] [**Loca...,0

These are various helper functions. Test functions are copied from the fastai notebook found [here](https://nbviewer.jupyter.org/github/fastai/fastai_docs/blob/master/dev_course/dl2/01_matmul.ipynb).

`fix_df` drops duplicate records, concatenates `category`, `description`, and `text` columns into one column called `note` and drops the concatenated columns.

`set_splits` adds additional columns called `splits` and optionally `is_sample` to set the training, validation, and testing dataset from the dataframe according to the percentage specified in the function. In addition, optionally, there is a `sample_pct` to get a sample out of the training set for initial experimentation. Finally, the function also accepts a random seed for reproducability. This function uses `sklearn`'s `train_test_split` to get the splits.

In [4]:
def test(a,b,cmp,cname=None):
    if cname is None: cname=cmp.__name__
    assert cmp(a,b),f"{cname}:\n{a}\n{b}"

def near(a,b): return np.allclose(a, b, rtol=1e-3, atol=1e-5)
def test_near(a,b): test(a,b,near)

def fix_df(df):
    df.drop_duplicates(inplace=True)    
    df['note'] = df['category'].str.cat(df['description'], sep='\n')
    df['note'] = df['note'].str.cat(df['text'], sep='\n')
    df.drop(['category', 'description', 'text'], axis=1, inplace=True)
    cols = list(df.columns)
    cols[-1] = 'class_label'
    cols[-2] = 'note'
    df = df.reindex(cols, axis=1)
    return df

def set_splits(df, val_pct, test_pct=0.0, sample_pct=0.0, seed=None):    
    new_test_pct = np.around(test_pct / (val_pct + test_pct), 2)
    train_pct = 1 - (val_pct + test_pct)
    train_idxs, inter = train_test_split(np.arange(len(df)), test_size=(val_pct + test_pct), random_state=seed)
    val_idxs, test_idxs = train_test_split(inter, test_size=new_test_pct, random_state=seed)
    
    df['split'] = None    
    df.iloc[train_idxs, df.columns.get_loc('split')] = 'train'
    df.iloc[val_idxs, df.columns.get_loc('split')] = 'val'
    df.iloc[test_idxs, df.columns.get_loc('split')] = 'test'
    
    if sample_pct > 0.0:
        df['is_sample'] = False
        _, sample_idxs = train_test_split(train_idxs, test_size=sample_pct)
        df.iloc[sample_idxs, df.columns.get_loc('is_sample')] = True
        test_near(round(len(df[df['is_sample']])/len(df), 2), round(sample_pct * train_pct, 2))
    
    test_near(round(len(df[df['split'] == 'train'])/len(df), 2), train_pct)
    test_near(round(len(df[df['split'] == 'val'])/len(df), 2), val_pct)
    test_near(round(len(df[df['split'] == 'test'])/len(df), 2), test_pct)
    
    return df

In [5]:
df = fix_df(df)
df.head()

,hadm_id,subject_id,icustay_id,admission_age,wait_period,chartinterval,note,class_label
0,100012,60039,239289,67.71,1.96,1,Radiology\nCHEST (PRE-OP PA & LAT)\n[**2177-3-...,1
1,100036,30078,296976,82.87,3.80,1,Radiology\nCHEST (PA & LAT)\n[**2187-7-16**] 8...,1
2,100037,58947,221136,58.40,27.79,15,Nursing\nNursing Transfer Note\n58 y/o M prese...,0
3,100037,58947,221136,58.40,27.79,15,Nursing\nNursing Progress Note\n58 y/o M prese...,0
4,100037,58947,221136,58.40,27.79,15,Nursing\nNursing Progress Note\n58 y/o M prese...,0

In [6]:
print(f"Total number of notes: {len(df)}")
print(f"Distribution of classes:\n {df.groupby('class_label').size()}")

Total number of notes: 50734
Distribution of classes:
 class_label
0    38736
1    11998
dtype: int64

Iterative over the class labels to split the notes into train/val/test with the ratio 0.8/0.1/0.1 and a 10% sample from the training set. We set a random seed of 42. Splitting the data this way maintains the proportion of the classes in the splits of the class labels.

In [7]:
classes = [None] * df['class_label'].nunique()
class_labels = df['class_label'].unique()

for idx, label in enumerate(class_labels):
    classes[idx] = df[df['class_label'] == label].copy()
    classes[idx].reset_index(inplace=True, drop=True)

for idx in range(len(classes)):
    classes[idx] = set_splits(classes[idx], 0.1, 0.1, 0.1, 42)
    
df = pd.concat(classes, axis=0)
df.head()

,hadm_id,subject_id,icustay_id,admission_age,wait_period,chartinterval,note,class_label,split,is_sample
0,100012,60039,239289,67.71,1.96,1,Radiology\nCHEST (PRE-OP PA & LAT)\n[**2177-3-...,1,val,False
1,100036,30078,296976,82.87,3.80,1,Radiology\nCHEST (PA & LAT)\n[**2187-7-16**] 8...,1,train,False
2,100037,58947,221136,58.40,27.79,1,Radiology\nCT HEAD W/ & W/O CONTRAST\n[**2183-...,1,train,False
3,100037,58947,221136,58.40,27.79,1,Radiology\nCT HEAD W/ & W/O CONTRAST\n[**Last ...,1,test,False
4,100037,58947,221136,58.40,27.79,1,Radiology\nRP US EXTREMITY NONVASCULAR RIGHT P...,1,train,False

In [8]:
print(f"Distribution of splits:\n{df.groupby('split').size()}")
print(f"Number of samples: {len(df[df['is_sample']])}")

Distribution of splits:
split
test      5074
train    40586
val       5074
dtype: int64
Number of samples: 4059

Write the dataset to disk and verify that it is written correctly, by loading it back again.

In [9]:
path = Path('./data')
df.to_csv(path/'data.csv', index=False)

df = pd.read_csv(path/'data.csv')
df.head()

,hadm_id,subject_id,icustay_id,admission_age,wait_period,chartinterval,note,class_label,split,is_sample
0,100012,60039,239289,67.71,1.96,1,Radiology\nCHEST (PRE-OP PA & LAT)\n[**2177-3-...,1,val,False
1,100036,30078,296976,82.87,3.80,1,Radiology\nCHEST (PA & LAT)\n[**2187-7-16**] 8...,1,train,False
2,100037,58947,221136,58.40,27.79,1,Radiology\nCT HEAD W/ & W/O CONTRAST\n[**2183-...,1,train,False
3,100037,58947,221136,58.40,27.79,1,Radiology\nCT HEAD W/ & W/O CONTRAST\n[**Last ...,1,test,False
4,100037,58947,221136,58.40,27.79,1,Radiology\nRP US EXTREMITY NONVASCULAR RIGHT P...,1,train,False